<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Login Page</title>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Login</h2>-->
<!--<form id="loginForm">-->
<!--    <label for="username">Username:</label>-->
<!--    <input type="text" id="username" name="username" required>-->
<!--    <br>-->
<!--    <label for="password">Password:</label>-->
<!--    <input type="password" id="password" name="password" required>-->
<!--    <br>-->
<!--    <button type="button" onclick="login()">Login</button>-->
<!--</form>-->

<!--<script>-->
<!--    function login() {-->
<!--        let username = $("#username").val()-->
<!--        let password = $("#password").val()-->
<!--        let user = {-->
<!--            username: username,-->
<!--            password: password,-->
<!--        }-->
<!--        $.ajax({-->
<!--            headers: {-->
<!--                'Accept': 'application/json',-->
<!--                'Content-Type': 'application/json'-->
<!--            },-->
<!--            type: "POST",-->
<!--            url: "http://localhost:8080/api/login",-->
<!--            data: JSON.stringify(user),-->
<!--            success: function (data) {-->
<!--                // sessionStorage.setItem("token", data.accessToken)-->
<!--                // window.location.href = "index.html"-->
<!--                sessionStorage.setItem("token", data.accessToken);-->
<!--                window.location.href = data.redirectUrl;-->
<!--            }-->
<!--        })-->
<!--        event.preventDefault();-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Login</title>

    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!--    <script th:inline="javascript">-->
<!--        /* Chú ý: Cú pháp Thymeleaf th:inline="javascript" */-->
<!--        /* Thêm th:onclick để sử dụng Thymeleaf cho thuộc tính onclick */-->
<!--        var login = function() {-->
<!--            var username = $("#username").val();-->
<!--            var password = $("#password").val();-->
<!--            var useracc = {username: username, password: password};-->

<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                contentType: "application/json",-->
<!--                url: "http://localhost:8080/login",-->
<!--                data: JSON.stringify(useracc),-->
<!--                success: function (data) {-->
<!--                    localStorage.setItem("token", data.token);-->
<!--                    localStorage.setItem("user", JSON.stringify(data));-->
<!--                    location.href = "index.html";-->
<!--                },-->
<!--                error: function (err) {-->
<!--                    console.log(err);-->
<!--                    $("#error").text("Nhập sai tên tài khoản hoặc mật khẩu").show();-->
<!--                }-->
<!--            });-->
<!--        };-->
<!--    </script>-->
    <script th:inline="javascript">
        var login = function() { // login() {
            let username = $("#username").val()
            let password = $("#password").val()
            let user = {
                username: username,
                password: password,
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "http://localhost:8080/api/login",
                data: JSON.stringify(user),
                success: function (data) {
                    // sessionStorage.setItem("token", data.accessToken)
                    // window.location.href = "index.html"
                    sessionStorage.setItem("token", data.accessToken);
                    window.location.href = data.redirectUrl;
                }
            })
            event.preventDefault();
        }
    </script>

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
    <div class="container-fluid pdng0">
        <div class="row merged">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="land-featurearea">
                    <div class="land-meta">
                        <h1>Login</h1>
<!--                        <p>-->
<!--                            Login						</p>-->
                        <div class="friend-logo">
<!--                            <span><img src="images/wink.png" alt=""></span>-->
                        </div>
                        <a href="#" title="" class="folow-me">Follow Us on</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="login-reg-bg" id="display">
                    <div  id="loginFormContainer" class="log-reg-area sign">
                        <form th:action="@{/login}" method="post">
                            <!-- Thêm th:value để sử dụng Thymeleaf cho thuộc tính value -->
                            <input type="text" id="username" name="username" placeholder="username" th:value="${username}">
                            <input type="password" id="password" name="password" placeholder="password" th:value="${password}">
                            <!-- Thêm th:onclick để sử dụng Thymeleaf cho thuộc tính onclick -->
                            <button type="button" id="loginButton" th:onclick="login()">Đăng nhập</button>
                            <div id="error" th:text="${error}"></div>
                        </form>
                    </div>
                    <div id="displayFormRegister" class="log-reg-area reg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
<script src="main.min.js"></script>
</body>
</html>
<script src="script.js"></script>
<script src="createAccount.js"></script>
<!--<script src="login.js"></script>-->
